.rootInput {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    &::before,
    &::after {
        display: none;
    }
}

.rootWrap {
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 10px;
    margin: 16px 0 24px;    
    padding: 12px !important;
}

.buttonWrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}